.header-menu{
    padding: 5px 0px;
}
.navbar{
    margin-top: 5px;
}
.navbar-nav{}
.navbar-nav .nav-item{}
.navbar-nav .nav-item .nav-link{
    color: #2c3033;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 10px;
    transition:all linear .3s;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:hover{
    color: #ff5200;
}
.menu-btn button{
    border: none;
    padding: 10px 28px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 17px;
    font-weight: 700;
    color: #ff5200;
    transition: all linear 0.3s;
    text-transform: capitalize;
}
.menu-btn button:hover{
    background-color: #ff5200;
    color: #fff;
}