@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
.proLoading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
  scroll-behavior: smooth !important;
}
body{
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
a, 
a:hover{
  text-decoration: none;
}
ol, ul, li{
  list-style: none;
}
img{
  vertical-align: middle;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
img,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, a{
  font-family: 'Roboto', sans-serif;
}
.section-heading{}
.section-heading p{
  color: #ff5200;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.section-heading h1{
  font-size: 42px;
  color: #2c3033;
  font-weight: 700;
  padding-bottom: 35px;
}
.footer-title h3{
  color: #ff5200;
  margin-bottom: 22px;
}
.scroll-to-top {
  position: fixed; 
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  padding: 20px 20px;
  border-radius: 100%;
  background: #ff5200;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0px 0px 10px #2c3033;
}
.icon{
  color: #ffffff;
  font-size: 22px;
}


 /* Large devices (desktops, less than 1200px) */
 @media (max-width: 1199px) { }
 
 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {  }

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 768px) { 
  .section-heading p{
    font-size: 18px;
  }
  .section-heading h1{
    font-size: 34px;
    padding-bottom: 15px;
  }
  }

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
  .section-heading p{
    font-size: 15px;
  }
  .section-heading h1{
    font-size: 28px;
    padding-bottom: 10px;
  }
  .footer-title h3{
    font-size: 22px;
    margin-bottom: 15px;
  }
 }